* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 30%;
  background: #000;
  padding: 15px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
}

.sidebar li {
  list-style: none;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background: #333;
}

.sidebar li.active {
  background: #1db954;
}

/* PLAYER */
.player {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player img {
  width: 260px;
  height: 260px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}

#progress {
  width: 60%;
  margin: 15px 0;
}

/* TIME */
.time {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #ccc;
}

/* CONTROLS */
.controls button {
  font-size: 22px;
  padding: 15px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#playBtn {
  background: white;
  color: black;
}

/* UPLOAD BUTTON */
.upload-btn {
  display: block;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #1db954;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: 60%;
  }

  .player {
    width: 100%;
    height: 40%;
  }

  .player img {
    width: 150px;
    height: 150px;
  }

  #progress,
  .time {
    width: 90%;
  }
}
